In [ ]:
#Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [2]:
## Exercise 3 - Create a markdown cell for an introduction ##

**In this notebook, Data Science Tools and Ecosystem are summarized.**

In [5]:
## Exercise 4 - Create a markdown cell to list data science languages

**Some of the popular languages that Data Scientists use are:**

1. Python
2. R
3. Scala
4. Julia

In [7]:
## Exercise 5 - Create a markdown cell to list data science libraries

**Some of the commonly used libraries used by Data Scientists include:**

1. Matplotlib
2. numpy
3. panda

In [ ]:
## Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Apache Hadoop |
| Jupyter Notebook |

In [ ]:
## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
## Exercise 8 - Create a code cell to multiply and add numbers

### This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

In [9]:
## Exercise 9 - Create a code cell to convert minutes to hours

### This will convert 200 minutes to hours by diving by 60

In [10]:
200/60

3.3333333333333335

In [11]:
## Exercise 10 - Insert a markdown cell to list Objectives

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives**

- Scala 
- Julia
- Python
_ R

In [ ]:
## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Supriyo Malakar